<!-- Conditionally display navbar and sidebar -->
<div *ngIf="!isSignInPage()">
  <!-- Navigation Bar -->
  <app-navbar></app-navbar>

  <div class="flex">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Main Content Area -->
    <div class="flex-grow p-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- Full-frame sign-in/register page -->
<div *ngIf="isSignInPage()">
  <div class="min-h-screen flex items-center justify-center bg-gray-100">
    <router-outlet></router-outlet>
  </div>
</div>
